.Player {
  height: 100%;
  width: 100%;

  padding: var(--SIZE_LG);

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto 1fr;
  row-gap: var(--SIZE_LG);
}

.clickWheel {
  align-self: flex-end;
  margin: 0 auto;
}
