.Playlist {
  height: 100%;
  width: 100%;
  padding: var(--SIZE_LG) 0;

  display: flex;
  flex-direction: column;
}

.playlists {
  overflow: auto;
  margin-top: var(--SIZE_LG);
  padding: 0 var(--SIZE_LG);
}

.playlist {
  display: flex;
  align-items: center;
  cursor: pointer;

  & + & {
    margin-top: var(--SIZE_XS);
  }

  &:hover {
    color: var(--accent);
  }
}

.image {
  height: calc(var(--SIZE_XXXL));
  margin-right: var(--SIZE_XS);
}
