.Screen {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto) 1fr;
  grid-template-areas:
    "albumCover song"
    "albumCover album"
    "albumCover artists"
    "albumCover trackNumber";
  column-gap: var(--SIZE_MD);
  row-gap: var(--SIZE_XS);
}

.albumCover {
  grid-area: albumCover;
  width: 100%;
}
.song {
  grid-area: song;

  font-family: var(--FONT_FAMILY_HEADING);
  font-size: var(--SIZE_LG);
  font-weight: bold;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album,
.artists {
  font-size: var(--SIZE_SM);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album {
  grid-area: album;
}
.artists {
  grid-area: artists;
}

.trackNumber {
  grid-area: trackNumber;
  font-size: var(--SIZE_XS);
  align-self: flex-end;
}
