:root {
  // Constants
  --CHARCOAL: #354755;
  --VERDIGRIS: #44bba4;
  --QUEEN_BLUE: #437c90;
  --WHITE: rgb(255, 255, 255);
  --BLACK: rgb(0, 0, 0);
  --DARK_GREY: rgba(31, 31, 31);
  --WHITE-80: rgba(255, 255, 255, 0.8);
  --BLACK-80: rgba(0, 0, 0, 0.8);

  --FONT_SIZE: 16px;
  --SCALE_RATIO: 1.2;

  --IPOD_WIDTH: 375px;
  --IPOD_HEIGHT: 812px;

  --FONT_FAMILY_HEADING: "Montserrat", Arial, Helvetica, sans-serif;
  --FONT_FAMILY: "Open Sans", Arial, Helvetica, sans-serif;

  --SIZE_XXXL: calc(var(--SIZE_XXL) * var(--SCALE_RATIO));
  --SIZE_XXL: calc(var(--SIZE_XL) * var(--SCALE_RATIO));
  --SIZE_XL: calc(var(--SIZE_LG) * var(--SCALE_RATIO));
  --SIZE_LG: calc(var(--SIZE_MD) * var(--SCALE_RATIO));
  --SIZE_MD: calc(var(--FONT_SIZE) * var(--SCALE_RATIO));
  --SIZE_SM: calc(var(--SIZE_MD) / var(--SCALE_RATIO));
  --SIZE_XS: calc(var(--SIZE_SM) / var(--SCALE_RATIO));
  --SIZE_XXS: calc(var(--SIZE_XS) / var(--SCALE_RATIO));

  --CLICK_WHEEL_BG_LIGHT: linear-gradient(
    rgba(0, 0, 0, 0.16),
    rgba(0, 0, 0, 0.24)
  );
  --CLICK_WHEEL_BG_DARK: linear-gradient(
    rgba(0, 0, 0, 0.32),
    rgba(0, 0, 0, 0.48)
  );

  // Variables
  --accent: var(--QUEEN_BLUE);

  --fontColor: var(--BLACK-80);

  --ipodBackgroundColor: var(--WHITE);

  --clickWheelBackground: var(--CLICK_WHEEL_BG_LIGHT);
}

* {
  box-sizing: border-box;
}

.main {
  width: 100vw;
  height: 100vh;
  // background: var(--CHARCOAL);
  background: linear-gradient(135deg, hsl(168, 47%, 60%), hsl(168, 47%, 40%));
  background: linear-gradient(135deg, hsl(206, 23%, 37%), hsl(206, 23%, 17%));
  background: var(--accent);
  transition: background 200ms ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--FONT_FAMILY);
  font-size: var(--FONT_SIZE);
}

a {
  text-decoration: none;
}
