.Ipod {
  background: var(--ipodBackgroundColor);
  color: var(--fontColor);
  transition: background 200ms ease-in-out, color 200ms ease-in-out;

  width: 100vw;
  height: 100vh;

  @media (min-width: 376px) and (min-height: 813px) {
    max-width: var(--IPOD_WIDTH);
    max-height: var(--IPOD_HEIGHT);

    border-radius: var(--SIZE_MD);

    box-shadow: 0 0 0 6px var(--BLACK),
      2px 2px var(--SIZE_LG) 6px rgba(0, 0, 0, 0.5);
  }
}
