.ProgressBar {
  display: grid;
  align-content: flex-start;
  row-gap: var(--SIZE_XXS);
}

.barWrapper {
  background: var(--clickWheelBackground);
  transition: background 200ms ease-in-out;

  height: var(--SIZE_XS);
  border-radius: var(--SIZE_XS);

  overflow: hidden;
}

.bar {
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  border-radius: var(--SIZE_SM);
  background: var(--accent);
  transition: background 200ms ease-in-out;
}

.modes,
.timers {
  display: flex;
  justify-content: space-between;
}

.timers {
  font-size: var(--SIZE_XS);
}

.icon {
  height: var(--SIZE_XXL);
  width: var(--SIZE_XXL);
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  color: var(--accent);
  cursor: pointer;
}
.active {
  background-color: var(--accent);
  color: var(--ipodBackgroundColor);
  transition: background 200ms ease-in-out, color 200ms ease-in-out;
}
