$InnerWheelProportion: 1/3;

.ClickWheel {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  border-radius: 50%;

  background: var(--clickWheelBackground);
  transition: background 200ms ease-in-out;

  touch-action: none;
  user-select: none;

  overflow: hidden;
}

.innerCircle {
  &:before {
    content: "";
    width: 1px;
    margin-right: -1px;
    padding-top: 100%;
  }

  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(100% * #{$InnerWheelProportion});
  border-radius: 50%;

  background: var(--ipodBackgroundColor);
  transition: background 200ms ease-in-out;
}

$offset: var(--SIZE_MD);

.menu,
.previous,
.next,
.play {
  color: var(--WHITE);
  cursor: pointer;
}

.menu {
  position: absolute;
  top: $offset;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-family: var(--FONT_FAMILY_HEADING);
  font-weight: bold;
}

.previous {
  position: absolute;
  top: 50%;
  left: $offset;
  transform: translateY(-50%);
  font-weight: bold;
}

.next {
  position: absolute;
  top: 50%;
  right: $offset;
  transform: translateY(-50%);
  font-weight: bold;
}

.play {
  position: absolute;
  bottom: $offset;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;

  > *:last-child {
    margin-left: -0.5rem;
  }
}
