.Login {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton {
  padding: var(--SIZE_MD);

  border: none;
  border-radius: 9999px;

  color: var(--WHITE);
  background: var(--VERDIGRIS);

  text-transform: uppercase;
}
