@keyframes InfiniteSlide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--SIZE_XXL)));
  }
}

.InfiniteText.animated .text {
  animation-name: InfiniteSlide;
  animation-duration: 8s; // FIXME: Should be dynamic
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.text {
  display: inline-block;

  & + & {
    margin-left: var(--SIZE_XXL);
  }
}
